<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".favoriteSalads"></activity>
        <activity android:name=".favoritePasta" />
        <activity android:name=".favoriteDesserts" />
        <activity android:name=".favoritePizzas" />
        <activity android:name=".favoriteDrink" />
        <activity android:name=".favoriteDishes" />
        <activity android:name=".Tables" />
        <activity android:name=".orderDesserts" />
        <activity android:name=".orderSalads" />
        <activity android:name=".orderPasta" />
        <activity android:name=".orderDrink" />
        <activity android:name=".orderPizzas" />
        <activity android:name=".myOrder" />
        <activity android:name=".menuSalads" />
        <activity android:name=".menuPasta" />
        <activity android:name=".menuPizzas" />
        <activity android:name=".menuDrink" />
        <activity android:name=".menuDessert" />
        <activity android:name=".editMenuSalads" />
        <activity android:name=".editMenuPasta" />
        <activity android:name=".editMenuDesserts" />
        <activity android:name=".editMenuPizza" />
        <activity android:name=".editDish" />
        <activity android:name=".editMenuDrink" />
        <activity android:name=".LoginEmployee" />
        <activity android:name=".LoginMember" />
        <activity android:name=".MemberSignUp" />
        <activity android:name=".memberMenu" />
        <activity android:name=".addDish1" />
        <activity android:name=".editMenu" />
        <activity android:name=".addEmployee" />
        <activity android:name=".employees" />
        <activity android:name=".mainScreenManager" />
        <activity android:name=".mainScreenGuest" />
        <activity android:name=".mainScreenMembers" />
        <activity android:name=".mainScreenEmployee" />
        <activity android:name=".loginManager" />
        <activity android:name=".ChangeDetails" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>